.img{
    height: 100%;
    width: 720px;
}

.div2{
    color: white; 
    font-weight: bold; 
    height: 100%; 
    width: 200px; 
    position: relative;
    margin-top: -500px;
    margin-left:150px;
    font-size: 80px;
}

.form-label{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    font-size: 15px;
}

.row-g-3{
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}